

/* container */

.container {width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 40px;
    border-bottom:1px solid #ccc;}
.row:first-child {
    margin-top: 3vh;
}
/* layout */
#header .container {        
    height: 70px;    
}

/* header */
#header {}
.header-data {
    color: #A8A8A8;
    font-size:1em;    
}
.header-title {
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 10px;
}
.header-id {
    width: 3vw; height: 3vw;
    border-radius: 50%;
    background: linear-gradient(360deg, #FFFFFF 0%, #A0A0A0 100%), #686565;    
    color: white;
    font-size: 2em;    
    line-height: 3vw;
    text-align: center;
    position: absolute; right: 0; bottom: 10px;
}

/* banner */
.banner {
    padding-bottom: 30px;    
}
.banner .banner-title {
    font-family: 'SF Pro Display';
    margin-top: 35px;
}
.banner .banner-title .bt-stit {
    font-size: 1.5em; 
    font-weight: 700;
    line-height: 1.5em; 
    color: #DA5E7C;}
.banner .banner-title .bt-tit {
    font-size: 3em; 
    line-height: 1em; 
    font-weight: 700;}
.banner .banner-title .bt-desc {
    font-size: 3em; 
    line-height: 1.8em; 
    color: #818181; 
    font-weight: 100;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
}

/* recentMusic */
#recentMusic {

}
.rm-tit {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 25px 0;
}
.rm-tit-left {
    font-size: 2em;
    font-weight: 600;
}
.rm-tit-right {
    font-weight: 600;
    font-size: 1.2em;
    color: #DA5E7C;
}
.rm-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.rm-img p {
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1em;
}
.rm-img span {
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1em;
    color: #A8A8A8;
}